<h3>successfully!</h3>
<div>
	<h3>Details: </h3>

	<p>Email member: <%=  @book.user ? @book.user.email : ''  %>	</p>
	<p>Book title: <%= @book.title %>	</p>
	<p>Book description: <%= @book.description %>	</p>
	<p>Book authors: <%= @book.authors %>	</p>
	<p>Book status: <%= @book.status %>	</p>
	
</div>
