<div class="authform" style="margin: 0 auto;  " %>
 	<h2>Book Detail:</h2>

 	<form>
 		 <div class="form-group">
		     <label>ISBN</label>
		     <input autofocus = true value = <%= @book.ISBN %> class = 'form-control' disabled />
	    </div>
	     <div class="form-group">
		     <label>Title</label>
		     <input autofocus = true value = <%= @book.title %> class = 'form-control' disabled />
	    </div>
	     <div class="form-group">
		     <label>Description</label>
		     <input autofocus = true value = <%= @book.description %> class = 'form-control' disabled />
	    </div>
	     <div class="form-group">
		     <label>Authors</label>
		     <input autofocus = true value = <%= @book.authors %> class = 'form-control' disabled />
	    </div>
	     <div class="form-group">
		     <label>Status</label>
		     <input autofocus = true value = <%= @book.status %> class = 'form-control' disabled />
	    </div>
	    <% if @book.status == 'check-out' %>
			<div class="form-group">
				<% @user = @book.user %>
			    <% if @user %>
			      <label>Checkouted user</label>
			      <input autofocus = true value = <%= @user.username + "---" + @user.email %> class = 'form-control' disabled />
			    <% end %>
	   		 </div>  	
		<% end %>

		<% if !@history.empty?  %>
			<div class="form-group">
		      <label>Checkout History</label>
		      <select>
		 			
		 			<% @history.each do |h| %>
		 			  <option> *************************** </option>

		     		  <option> User_id -- <%= h.user.role %> </option>
		     		  <option> Checkout date -- <%= h.checkout_date.strftime("%Y-%m-%d %H:%M:%S")  unless h.checkout_date.blank? %> </option>
		     		  <option> Return date -- <%= h.return_date.strftime("%Y-%m-%d %H:%M:%S") unless h.return_date.blank? %> </option>
		     		  <option> *************************** </option>
		     		<% end %>
		     
		      </select>
		    </div>
	    <% end %>
 	</form>
</div>
