
<div class="authform">
  <h3>Edit User</h3>

  <%= form_for (@user)  do |f| %>
    <div class="field form-group">
      <%= f.label :Username %><br />
      <%= f.text_field :username, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :role %>
      <%= f.select :role, ['User', 'Admin'],{}, {required: true, :prompt =>  "#{@user.role}", :selected => @user.role, class: 'form-control'} %>
     
    </div>
    <fieldset>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', value: @user.password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'submit button right' %>
    <button class=" submit left" style=""><%= link_to 'Back', '/users', :data => { :confirm => "Are you sure?" },:style => "color: #fff; font-weight: bold"%></button>
    
  <% end %>
</div
