
<div class="" style="margin: 0 auto;  " %>
 	<h2>User Management:</h2>
	<div class="form-group">
	    <div class="col-md-12">
	        <div class="table-responsive">
	            <table class="table table-striped table-bordered table-advance table-hover">
	                <thead>
	                    <tr>
	                    	<th class="col-md-2 text-center">ID</th>
	                        <th class="col-md-2 text-center">Username</th>
	                        <th class="col-md-2 text-center">Email</th>
	                        <th class="col-md-2 text-center">Password</th>
	                        <th class="col-md-2 text-center">Role</th>
	                        <th class="col-md-2 text-center">action</th>
	                    </tr>
	                </thead>
	                <tbody>
	                	<% if @users.length == 0%>
	                		<tr>
	                			<td colspan="6">No user found</td>
	                		</tr>
	                	<% else %>
	                		<% @users.each do |user| %>
	                	<tr>
	                		<td><%= user._id %></td>
	                		<td><%= user.username %></td>
	                		<td><%= user.email %></td>
	                		<td><%= Digest::SHA1.hexdigest(user.password.to_s) %></td>
	                		<td><%= user.role %></td>
	                		<td class="text-center">
	                			<%= link_to "View", user_path(user) %>
	                			<%= link_to "Edit", edit_user_path(:id => user.id.to_s) %>
	                			<%= link_to "Delete", user_path(user), method: :delete, :data =>  {:confirm => 'Are you sure to delete this user ?'} %>
	                		</td>
	                	</tr>
	                	<% end %>
	                	<% end %>
	                	
	                </tbody>
	            </table>
	       	</div>
	   	</div>
	   	<button class="right" style=""><%= link_to 'Add a user', '/users/sign_up'%></button>
	</div>
 
</div>
